# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [7]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:k5ni5k5ni5@localhost:5432/Module_7_HW")

In [9]:
# Write function that locates outliers using standard deviation
query = "SELECT * FROM transaction;"

fraud_detection = pd.read_sql(query, engine)

fraud_detection.std()

C:\Users\Matt\anaconda3\envs\dev\envs\dev\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

id                             1010.507298
date           105 days 10:47:05.027814612
amount                          202.042922
id_merchant                      43.155086
dtype: object

In [10]:
# Find anomalous transactions for 3 random card holders
fraud_detection.sample(3)

        id                date  amount              card  id_merchant
1994  2140 2018-07-22 18:58:36    2.55    30142966699187          102
3364  1861 2018-12-17 16:36:23   11.16  4711773125020499           33
2061   804 2018-07-28 21:24:13    1.75  6011987562414062           53

## Identifying Outliers Using Interquartile Range

In [11]:
# Write a function that locates outliers using interquartile range
fraud_detection.quantile()

id             1750.50
amount           10.27
id_merchant      76.00
Name: 0.5, dtype: float64

In [ ]:
# Find anomalous transactions for 3 random card holders

In [12]:
fraud_detection.sample(3)

        id                date  amount                 card  id_merchant
2499   102 2018-09-18 12:59:41    4.98  4644008655884311378          145
889   3106 2018-03-30 15:39:04   19.87         501809222273           33
573    223 2018-03-01 18:42:20    6.13         501879657465           22